@import 'tailwindcss';
@import 'tw-animate-css';

:root {
	--purple: #633cff;
	--purple-hover: #beadff;
	--light-purple: #efebff;
	--grey: #737373;
	--dark-grey: #333333;
	--light-grey: #fafafa;
	--borders: #d9d9d9;
	--red: #ff3939;
}

@theme inline {
	--color-purple: var(--purple);
	--color-purple-hover: var(--purple-hover);
	--color-light-purple: var(--light-purple);
	--color-grey: var(--grey);
	--color-dark-grey: var(--dark-grey);
	--color-light-grey: var(--light-grey);
	--color-borders: var(--borders);
	--color-red: var(--red);
}

body {
	font-family: var(--font-instrument-sans);
}
